@model List<MVCProject.Models.NhanVien>

@{
    ViewData["Title"] = "Danh Sách Nhân Viên";
}
<div>
    <form asp-action="index" method="post" class="input-group">
        <input name="key" type="search" class="form-control rounded" placeholder="Từ Khóa Cần Tìm" aria-label="Search"
               aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary">Tìm</button>
    </form>
    <h1>Danh Sách Nhân Viên</h1>
</div>
<div>

    <p>
        <a asp-action="Create">Thêm Nhân Viên</a>
    </p>
    
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                MNV
            </th>
            <th>
                Họ Tên
            </th>
            <th>
                Ngày Sinh
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Chức vụ
            </th>
            <th>
                Số năm công tác
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.maNhanVien
                    
                </td>
                <td>
                    @item.hoTen
                        
                </td>
                <td>

                    @item.ngaySinh.ToShortDateString()
                </td>
                <td>
                    @item.soDienThoai
                </td>
                <td>
                    @item.diaChi
                </td>
                <td>
                    @item.chucVu
                </td>
                <td style="text-align: center;">
                    @item.soNamCongTac
                </td>
                <td>
                    <a class="btn btn-primary" href="/Staff/Edit/@item.maNhanVien">Sửa</a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.maNhanVien">Xóa</button>
                    <div class="modal fade" id="@item.maNhanVien" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Bạn Có Chắc Muốn Xóa</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Nhân Viên <span style="color:red">@item.hoTen</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <a class="btn btn-primary" href="/Staff/Delete/@item.maNhanVien">Xóa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
