@model List<MVCProject.Models.NhanVien>
@using MVCProject.Controllers
@{
    ViewData["Title"] = "Danh Sách Nhân Viên";
}
<input type="number" id="PhongBanId" value="@ViewBag.PhongBanId" hidden />
<button class="btn btn-success " onclick="showInPopup('@Url.Action("create","staff",null,Context.Request.Scheme)','THÊM NHÂN VIÊN')"><i class="fas fa-plus"></i> Thêm Nhân Viên</button>
<br />
<br />
<div>
    <div>
        <input id="SearchBox" type="search" class="form-control rounded" placeholder="Tên Hoặc Địa Chỉ Cần Tìm" aria-label="Search" aria-describedby="search-addon" />
        <br />
        <select class="custom-select" style="width:25vw;"  asp-items="@(new SelectList(@Model,"ChucVu","ChucVu"))">
            <option value="0" selected>-- Chức Vụ--</option>
        </select>
        <div class="float-right">
            <label for="customRange1" class="form-label">Số Năm Công Tác</label>
            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange1" >
            <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange2">
        </div>
        
    </div>
    <br />
    <h1>Danh Sách Nhân Viên</h1>
</div>
<div>
        <select class="custom-select" id="chonPhongBan" style="width:20vw;" asp-items="@(new SelectList(@ViewBag.dsPhongBan,"id","TenPhongBan"))">
            <option value="0" selected>-- Tất Cả --</option>
        </select>
        <a class="btn btn btn-outline-success float-right" id="excelExport" asp-action="DownloadFile" asp-controller="staff"><i class="fas fa-file-excel"></i> Xuất File Excel</a>
        
</div>
<br />
<input type="number" id="pageNumberIndex" value="@ViewBag.pageNumberIndex" hidden />
<div id="tablePartial">

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/staff/index.js"></script>
}
