@model List<MVCProject.Models.NhanVien>

@{
    ViewData["Title"] = "Danh Sách Nhân Viên";
}
<div>
    <form asp-action="index" method="post" class="input-group">
        <input name="key" type="search" class="form-control rounded" placeholder="Từ Khóa Cần Tìm" aria-label="Search"
               aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary">Tìm</button>
    </form>
    <h1>Danh Sách Nhân Viên</h1>
</div>
<div>

    <p>
        <a class="btn btn-success" asp-action="Create">Thêm Nhân Viên</a>
    </p>

</div>

<table  class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                MNV
            </th>
            <th>
                Họ Tên
            </th>
            <th>
                Ngày Sinh
            </th>
            <th>
                Số điện thoại
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Chức vụ
            </th>
            <th>
                Số năm công tác
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="StaffTable">
        @foreach (var item in Model)
        {
            var i = 1;
            <tr >
                <td >
                    @item.maNhanVien

                </td>
                <td id="timKiem">
                    @item.hoTen

                </td>
                <td>

                    @item.ngaySinh.ToShortDateString()
                </td>
                <td>
                    @item.soDienThoai
                </td>
                <td >
                    @item.diaChi
                </td>
                <td>
                    @item.chucVu
                </td>
                <td style="text-align: center;">
                    @item.soNamCongTac
                </td>
                <td>
                    <a class="btn btn-info" href="/Staff/Edit/@item.maNhanVien">Sửa</a>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#NV-@Model.IndexOf(item)">Xóa</button>
                    <div class="modal" id="NV-@Model.IndexOf(item)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <i class='fas fa-exclamation-triangle'></i>
                                    <h5 class="modal-title">Bạn Có Chắc Muốn Xóa</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="Huy-@item.maNhanVien">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Nhân Viên <span style="color:red">@item.hoTen</span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"  >Hủy</button>
                                    <button class="btn btn-danger delBtn" id="@item.maNhanVien">Xóa</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/staff/index.js"></script>
}
