@model List<SelectListItem>
@using MVCProject.Controllers
@{
    ViewData["Title"] = "Danh Sách Nhân Viên";
}
<input type="number" id="PhongBanId" value="@ViewBag.PhongBanId" hidden />
<button class="btn btn-success " onclick="showInPopup('@Url.Action("create","staff",null,Context.Request.Scheme)','THÊM NHÂN VIÊN')"><i class="fas fa-plus"></i> Thêm Nhân Viên</button>
<br />
<br />
<div>
    <div>
            
            <form class="form-row" action="advandSearch" method="post" id="advandSearch">
                 <div class="col">
                    <input id="SearchBox" type="search" class="form-control rounded" placeholder="Search" placeholder="Tên Hoặc Địa Chỉ Cần Tìm" aria-label="Search"
                        aria-describedby="search-addon" />
                 </div>
                <div class="col">
                    <button type="submit" class="btn btn-outline-primary">Tìm Kiếm</button>
                </div>
                <br />
                <div class="col">
                    <label for="inputPassword4">Password</label>
                    <select class="custom-select form-control col-2" id="chucVuSearch"  asp-items="@(new SelectList(@Model,"Value","Text"))">
                        <option value="" selected>-- Tất Cả --</option>
                    </select>
                <div class="float-right ">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Số Năm Công Tác</span>
                        </div>
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Từ : </span>
                        </div>
                        <input type="text" class="form-control" id="minRange">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="">Đến : </span>
                        </div>
                        <input type="number" class="form-control" id="maxRange">
                    </div> 
                </div>
                
            </form>
            
          
    </div>
    <br />
    <h1>Danh Sách Nhân Viên</h1>
</div>
<div>
        <select class="custom-select" id="chonPhongBan" style="width:20vw;" asp-items="@(new SelectList(@ViewBag.dsPhongBan,"id","TenPhongBan"))">
            <option value="0" selected>-- Tất Cả --</option>
        </select>
        <a class="btn btn btn-outline-success float-right" id="excelExport" asp-action="DownloadFile" asp-controller="staff"><i class="fas fa-file-excel"></i> Xuất File Excel</a>
        
</div>
<br />
<input type="number" id="pageNumberIndex" value="@ViewBag.pageNumberIndex" hidden />
<div id="tablePartial">

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/staff/index.js"></script>
}
